.t-messages{
  width: 630px;
  overflow-y: scroll;
  height: 260px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.t-send-message{
  box-sizing: border-box;
  padding: 10px;
  width: 630px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: rgb(241, 241, 241)
}
.t-messages .l-message{
  float: left;
  width: 100%;
  text-align: left;
  padding: 10px;
}
.t-messages .r-message{
  float: right;
  width: 100%;
  text-align: right;
  padding: 10px;
}
