<div class='notices ancor'>
  <div class='notices container'>
  </div>
</div>

<%
window.message = function(type, text)
{
  var popup = phoxy.DeferRender('utils/notices/notice', {css: type, text: text}, InitSelfDestructMechanism);
  __this.first().find('.notices.container').prepend(popup);
}

var showing_messages = [];
var clock_running = null;

function InitSelfDestructMechanism()
{
  if (showing_messages.length == 0)
    __this.first().show();

  showing_messages.push(this.first());
  start_clock();
}

function start_clock()
{
  if (clock_running)
    return;

  if (!showing_messages.length)
    return;

  showing_messages[0].transition('fly down');

  phoxy.Defer(calculate_tick, 3000);
  clock_running = true;
}

function calculate_tick()
{
  clock_running = false;

  var first_message = showing_messages.shift();
  gracefully_remove(first_message);

  start_clock();
}

function gracefully_remove(message)
{
  message.transition(
    {
      animation: 'fade left',
      onComplete: function()
      {
        message.remove();

        if (showing_messages.length == 0)
          __this.first().hide();
      }
    })
}



__this.Defer(function()
{
  __this.first().hide()
});
%>
