<div class='thread'>

  <div class='content'>
    <% __this.CascadeSupply(
      'thread/chatbox/index',
      ['thread/read', __this.account_id, __this.thread_id]) %>
  </div>

  <div class='input'>
    <% __this.CascadeDesign('thread/input/index') %>
  </div>
</div>

<%
var textarea, content;

function Recalculate()
{
  var total = __this.first().height($(window).height() - 10).height();
  var input = textarea.height();

  content.height((total - input));
}

__this.DeferCascade(function()
{
  textarea = __this.first().find('textarea');
  content = __this.first().children('.content');

  textarea.on('keydown keyup height.changed', Recalculate)

  Recalculate();
});

__this.Defer(function()
{
  __this.first().on('send.text', function(e, text)
  {
    __this.first().find('.send.queue').trigger('add', text);
  });
});
%>
