<%
  thread.ejsThread = __this;
%>
<div class="ui container thread">
  <h2 class="with">Thread with: </h2>
  <div class="messages">

  <%
    for(n in __this.messages){
      __this.messages[n]['user'] = __this.username;
      __this.CascadeDesign('thread/messages', __this.messages[n]);
    }
    //messages from event
    thread.ejsThread.onEvent = function(message, first){
      var new_divs = phoxy.DeferRender('thread/messages', message);
      first.find('.messages').append(new_divs);
      first.find('.messages').scrollTop(1000);
    }
  %>
  </div>

  <%
    var sdata = {username:__this.username, t_id:__this.t_id, members:__this.members};
    __this.CascadeDesign('thread/send-message',sdata);
  %>

</div>

<%

  //theard members
  __this.Defer(function(){
    //output thread members
    var t_with = __this.first().find('.with').html();
    var t_members = '';
    for(m in __this.members){
      if(m==0)
        t_members = t_members+__this.members[m].username;
      else
        t_members = t_members+', '+__this.members[m].username;
    }
    __this.first().find('.with').html(t_with+t_members);

  });

%>
