<% if(__this.username==__this.user){ %>
  <div class="message right">
    <h3><%@ __this.username %></h3>
    <p><%@ __this.message %></p>
  </div>
<% }else{ %>
<div class="message left">
  <h3><%@ __this.username %></h3>
  <p><%@ __this.message %></p>
</div>
<% } %>
