.centered {
  width: inherit;
  height: 100%;
  display: table;
  position: fixed;

  &.fluid {
    width: 100%;
  }

  & > div {
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    height: 100%;
    text-align: center;

    & > div {
      display: inline-block;
    }
  }
}
