.inbox {
  & tr {
    height: 4em;

    & td > a.content {
      display: block;
      color: initial;
    }
  }

  & .header {
    & .title {
      font-weight: bold;
    }

    & .date.sub.header {
      float: right;
      color: gray;
      font-size: 0.9em;
    }
  }

  & .content {
    padding-bottom: 1.4285em;

    & .message {
      height: 1.4285em;
      overflow-y: hidden;
      position: absolute;
      pointer-events: none;
      padding-bottom: 1px;
    }


    &:hover .message {
      height: auto;
      background-color: #F3F3F3;
    }
  }

}
