.inbox {
  & tr {
    height: 4em;

    & td > a.content {
      color: initial;
    }
  }

  & .header {
    & .title {
      font-weight: bold;
    }

    & .date.sub.header {
      float: right;
      color: gray;
      font-size: 0.9em;
    }
  }

  & .message {
    white-space: nowrap;
    height: 1em;
  }

   & .message:hover {
    white-space: initial;
    height: auto;
  }
}
