html {
  
}

a:visited{
  color:white;
  font-style: normal;
}

h1 {
  text-align: center;
}

#login {
  color:#F6F5F8;
  background-color: #1F1E21;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 300px;
  width: 450px;
  border:5px solid #6C657C ;
  border-radius: 10px;
  font-family: 'Poiret One';
}


.input {
  text-align: center;

}

.regtext {
  font-size: 12px;
}

.container p {
  text-align: center;
}

.button {
  width: 150px;
  background-color: #93A3B4;
  height: 35px;
  color:#F6F5F8 ;
  border:1px solid white;
}

.button:hover {
  background-color: #A8A3ff;
}