<form class="ui modal add thread form">
  <div class="header">Create new chat</div>

  <div class="content">
    <div class="field thread title">
      <label>Chat title</label>
      <input name="name">
    </div>

    <div class="field thread users">
      <label>Members</label>
      <input name="users">
    </div>
  </div>

  <div class="actions">
    <button class="ui submit button">Create chat</button>
  </div>
</form>

<%
__this.Defer(function()
{
  __this.first().modal({detachable: false});
  __this.first().submit(function(e)
  {
    e.preventDefault();

    var title = $(this).find('.thread.title input').val();
    var members = $(this).find('.thread.users input').val().split(',');

    phoxy.ApiRequest(['inbox/add', title, members], function(data)
    {
      if (!data.data.add)
        return;

      phoxy.MenuCall('/thread(' + data.data.add + ')');

      __this.first().modal('hide');
    });
  });
});
%>
