<div class="ui two column middle aligned very relaxed stackable grid demo login">
  <div class="column">
    <div class="ui form">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Username" autocomplete="off" autofocus>
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" autocomplete="off">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui blue submit button">
        <% __this.CascadeDesign('inbox/demo.network.choose'); %>
        Login
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
  <div class="center aligned column">
    <a class="ui big green labeled icon button" href='/demo/try_it'>
      <i class="signup icon"></i>
      Try Demo Account
    </a>
  </div>
</div>
