<tr>
  <td>
    <h4 class="ui image header">
      <% __this.CascadeDesign('thread/users/one.image', __this.users[0]) %>
      <div class="content">
        <%@ __this.title %>
        <div class="sub header">
        <% __this.CascadeDesign('thread/items/one', __this.items[0]) %>
        </div>
      </div>
    </h4>
  </td>
</tr>

