<table class="ui very basic unstackable celled table inbox">
<%
if (!__this.inbox.length)
  __this.__append("Yet nobody sent me <u>" + window.user.network + "</u> private message");
%>
  <% __this.ForeachDesign("inbox/itemize.entry", __this.inbox, undefined, "<tr>"); %>
</table>
