<tr id='<%@ __this.id %>' account='<%@ __this.account %>' class='thread'>
  <td class='collapsing'>
    <h4 class="ui image header">
      <%
      __this.users[0].account = __this.account;
      __this.CascadeDesign('thread/users/one.image.by-id',
        __this.users[0])
      %>
      <span class="content">

      </div>
    </h4>
  </td>
  <td>
    <% __this.CascadeDesign('inbox/entry.content', __this) %>
  </td>
</tr>

<%
__this.Defer(function()
{
  __this.first().click(function()
  {
    phoxy.MenuCall(['thread', $(this).attr('network'), $(this).attr('id')]);
  });
});
%>

