<tr id='<%@ __this.id %>' account='<%@ __this.account %>'>
  <td class='collapsing'>
    <h4 class="ui image header">
      <%
      __this.users[0].account = __this.account;
      __this.CascadeDesign('thread/users/one.image.by-id',
        __this.users[0])
      %>
      <div class="content">
        <% __this.CascadeDesign('networks/icon.by.account-id', __this.account) %>

        <div class="sub header">
          <% __this.CascadeDesign(
            'utils/time/snap.to.relative',
              __this.last_messages[0].created
              || __this.last_messages[0].updated) %>
        </div>
      </div>
    </h4>
  </td>
  <td>
    <div class='header'><%@ __this.title %></div>
    <% __this.CascadeDesign('thread/items/one', __this.last_messages[0]) %>
  </td>
</tr>

<%
__this.Defer(function()
{
  __this.first().click(function()
  {
    phoxy.MenuCall(['thread', $(this).attr('network'), $(this).attr('id')]);
  });
});
%>

