<tr id='<%@ __this.id %>' network='<%@ __this.network %>'>
  <td class='collapsing'>
    <h4 class="ui image header">
      <% __this.CascadeDesign('thread/users/one.image', __this.users[0]) %>
      <div class="content">
        <%@ __this.title %>
        <div class="sub header">
          <%@ __this.network %>
        </div>
      </div>
    </h4>
  </td>
  <td>
    <% __this.CascadeDesign('thread/items/one', __this.last_messages[0]) %>
  </td>
</tr>

<%
__this.Defer(function()
{
  __this.first().click(function()
  {
    phoxy.MenuCall(['thread', $(this).attr('network'), $(this).attr('id')]);
  });
});
%>

