<div class="inbox">
  <h2>Inbox</h2>
  <div class="ui button thread add">
    <i class="plus icon"></i>
  </div>

  <% __this.CascadeDesign('inbox/add-thread-form', {}); %>

  <div class="ui container messages">
    <%
      for (var n in __this.threads)
        __this.CascadeDesign('inbox/message', __this.threads[n]);
    %>
  </div>
</div>

<%
  __this.Defer(function()
  {
    __this.first().find('.thread.add').click(function()
    {
      __this.first().find('.modal').modal('show');
    });
  });
%>
