<div class="ui inbox">
  <h2>Threads Page</h2>
  <div id="add-ico" class="ui icon button add-thread">
    <i class="add icon"></i>
  </div>
  <%
    __this.Defer(function(){
      __this.first().find('#add-ico').click(function(){
        if($('#add-thread-form').css('display')=="none"){
          $('#add-thread-form').show();
        }else{
          $('#add-thread-form').hide();
        }
      });
    });
  %>
  <% __this.CascadeDesign('inbox/add-thread-form',{}); %>
  <div class="ui container messages">
  <%

    for (var n in __this.threads){
      __this.CascadeDesign('inbox/message', __this.threads[n]);
    }

  %>
  </div>

</div>
