<form class="ui form">
  <div class="field">
    <label>Login</label>
    <input class="login" placeholder="Login">
  </div>
  <div class="field">
    <label>Password</label>
    <input type='password' class="password" placeholder="Password">
  </div>
<% /*
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
*/ %>

  <button class="ui button" type="submit">Submit</button>
</form>

<%
__this.Defer(function()
{
  __this.first().submit(function(e)
  {
    e.preventDefault();

    var login = $(this).find('.login').val();
    var password = $(this).find('.password').val();

    $(this).trigger
    (
      'login.submit',
      {
        login: login,
        password: password,
      }
    );
  });
});
%>
