<div class="ui welcome page dimmer">
  <div class="content">
    <div class="center">
      <h1 class='ui inverted header'>
        Hello <i><%@ __this.nick %></i>
      </h1>
    </div>
  </div>
</div>

<%
__this.Defer(function()
{
  $('body').append(__this.first().detach());

  __this.first()
    .dimmer
    ({
      onShow: function()
      {
        phoxy.Defer(function()
        {
          __this.first().dimmer('hide');
        }, 5000);
      }
      ,
      onHide: function()
      {
        phoxy.Defer(function()
        {
          __this.first().remove();
        }, 5000);
      }
    })
    .dimmer('show');


  if (__this.next)
    phoxy.MenuCall(__this.next);
});
%>
