  <% __this.CascadeDesign('snippets/empty', {}) %>
<div class='ui main container'>
  <% __this.CascadeDesign('utils/notices/container', {}) %>
  <div id='canvas' class='inherit size'>
  </div>
</div>

<%
var head_params =
{
  'scripts' :
  [
    "/vendor/semantic/ui/dist/semantic.min.js",
  ]
  ,
  'async_scripts' :
  [
    "/js/ajax-booster.js",
    "/js/user.js",
  ]
  ,
  'css' :
  [
    "/less",
    "/vendor/semantic/ui/dist/semantic.min.css",
  ]
};

__this.CascadeDesign('snippets/head', head_params);
%>
