<div class="ui center aligned container">
  <div class="m-header">
    <img class="logo" src="https://spark.ru/upload/startups/l_56cf1644e9681.jpg" />
    <h2>Synchrotalk</h2>
  </div>

  <div class="content">
    <p>Multiple social networks in single application</p>
  </div>

  <a href="/user/login" class="ui google plus button test-b">
    TEST IT OUT!
  </a>

  <div class="foo">
    <p>We on dev prototype! v0.0</p>
  </div>
</div>
