<div class="ui center aligned container home">
  <div class="header">
    <img class="logo" src="https://spark.ru/upload/startups/l_56cf1644e9681.jpg" />

    <h2 class="title">Synchrotalk</h2>
  </div>

  <div class="content">
    <p class="project purpose">
      Multiple social networks in single application
    </p>

    <a href="/home" class="ui google plus button try us">
      TEST IT OUT!
    </a>

    <p class="our status message">
      We on dev prototype!
        <span class="product version">
          <%@ __this.version %>
        </span>
    </p>
  </div>
</div>
