<div class="ui container">
  <div class="ui"><h2>Login User Page</h2></div>
  <% if(__this.username){ %>
  <div class="ui info message">
    <i class="close icon"></i>
    <div class="header">You are logged as <%@ __this.username %></div>
  </div>
  <% } %>
</div>

<%
__this.Defer(function(){
  __this.first().find('.close').click(function(){
    $(this).parent().hide()
  });
});
%>
<% __this.CascadeDesign('user/login-form',{}); %>
