<div class="ui"><h2>Login User Page</h2></div>
<div id="log-as" style="display: none;" class="ui">You are logged as </div>
<%
__this.Defer(function(){
  if(__this.username){
    var log_as_html = $('#log-as').html();
    $('#log-as').html(log_as_html+__this.username);
    $('#log-as').show();
  }

  });
%>
<% __this.CascadeDesign('user/login-form',{}); %>
