<div class="ui container">
  <div class="ui"><h2>Login User Page</h2></div>
</div>

<%
__this.Defer(function(){
  if(__this.username){
    message('info', 'You are logged as '+__this.username);
  }
});
%>
<% __this.CascadeDesign('user/login-form',{}); %>
