<div class="ui action input username choose form">
  <input placeholder="Type your username...">
  <button class="ui submit button">Login</button>
</div>

<%
__this.Defer(function()
{
  __this.first().find('button').click(function()
  {
    var username = __this.first().find('input').val();

    if (username.length <= 3)
      return message('warning', '4 characters minimum');

    phoxy.ApiRequest(['user/login', username], function(r)
    {
      if (r.data.login == true)
        phoxy.MenuCall('inbox');
    });

  });

});
%>
