<div class='login page'>
  <h2 class='welcome intro'>Choose name to login</h2>

<%
__this.Defer(function()
{
  if (__this.username)
    message('info', 'You are logged as ' + __this.username);
});
%>

<% __this.CascadeDesign('user/login-form',{}); %>

</div>
