<%
if (!__this.avatars)
  __this.avatars = "/assets/img/icon/user/anonymous.png";

var img =
{
  url: __this.avatars,
  classes: "ui mini rounded image",
};
%>

<a href='<%@ __this.profile_link %>' target='profiles' not-phoxy>
<%
__this.CascadeDesign("utils/image/abstract", img);
%>
</a>
