<%
if (__this.data == undefined)
  __this.data = __this;
%>

<div class="ui basic modal">
  <% __this.CascadeDesign.apply(__this, __this.data) %>
</div>

<%
__this.DeferCascade(function()
{
  __this.first()
    .modal(
    {
      detachable: false,
      duration: 200,
      onHidden: function()
      {
        __this.first().trigger('modal.close');
        __this.first().remove();
      }
    })
    .modal('show');
});
%>
