<div class="centered fluid">
  <div>
    <div>
      <div class="ui <%@ __this.icon ? 'icon' : '' %> <%@ __this.type || 'warning' %> message">
        <i class="<%@ __this.icon %> icon"></i>
        <div class="content">
          <div class="header">
            <%@ __this.header %>
          </div>

          <p><%@ __this.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>


