<div class="centered fluid">
  <div>
    <div>
      <div class="ui icon warning message">
        <i class="warning icon"></i>
        <div class="content">
          <div class="header">
            Error
          </div>

          <p><%@ __this.error %></p>
        </div>
      </div>
    </div>
  </div>
</div>


