<div class='chatbox'>
<% // __this.CascadeDesign('thread/chatbox/itemize', __this) %>
<% __this.CascadeDesign('thread/chatbox/queued', __this) %>
</div>


<%
__this.DeferCascade(function()
{
  var chatbox = __this.first();

  chatbox.animate({ scrollTop: chatbox.prop('scrollHeight') }, 'normal');
});
%>
