<div class='ui comments send queue'>
</div>
<%
__this.Defer(function()
{
  __this.first().on('add.to.send.queue', function(e, text)
  {
    var message =
    {
      account_id: __this.account_id,
      thread_id: __this.thread_id,
      owner:
      {
        id: 0
      },
      created: parseInt(Date.now() / 1000),
      text: text,
    };

    var design = phoxy.DeferRender('thread/chatbox/one', message, function()
    {
      this.first().trigger('height.changed');
    });
    __this.first().append(design);


    phoxy.ApiRequest(
      [
        'thread/send',
        __this.account_id,
        __this.thread_id,
        text
      ]);
  });

  __this.first().on('clear', function()
  {
    __this.first().find('.comment').remove();
  });
});
%>
