<div class='ui comments'>

</div>

<%
var refresh_frequency = 5;

__this.Defer(function()
{
  if (!$.contains(document, __this.first()[0]))
    return;

  var task = phoxy.ApiRequest(['thread/read', __this.account_id, __this.thread_id],
    function(r)
    {
      slice_items(r.data);
    }
  );


  phoxy.Defer(arguments.callee, refresh_frequency * 1000);
}, refresh_frequency * 1000);

var last_snap = __this.items[0].updated || __this.items[0].created;
function slice_items(data)
{
  var to_show = [];

  for (var k in data.items)
    if ((data.items[k].updated || data.items[k].created) > last_snap)
      to_show.push(data.items[k]);
    else
      break;

  if (to_show.length == 0)
    return;

  last_snap = (data.items[0].updated || data.items[0].created);
  data.items = to_show;

  __this.first().trigger('new.messages', [data]);
}

var unread = 0;
__this.Defer(function()
{
  __this.first().on('new.messages', function sliceitems(e, data)
  {
    var design =
      phoxy.DeferRender('thread/chatbox/itemize.functor'
      , data, function()
    {
      this.first().trigger('height.changed');
    });

    __this.first().append(design);

    // If user not on tab
    if (document.hidden)
    {
      unread += data.items.length;
      var old_title = document.title;
      document.title = '[' + unread + ']';
      new Audio('assets/fx/ping.wav').play();

      $(document).one('visibilitychange', function()
      {
        document.title = old_title;
        unread = 0;
      });
    }

  });
});
%>
