<h3 class='ui header disabled scheduled step'><%@ __this.data %></h3>

<%
__this.Defer(function()
{
  __this.first().on('step.spawn', function(e, network, type, requirements)
  {
    // refactor
    __this.network = network;
    __this.type = type;
    __this.step = __this.data;
    __this.context = requirements;
    var step = phoxy.DeferRender('networks/auth/sequence.step.spawn', __this);


    __this.first()
      .removeClass('disabled scheduled')
      .after(step);
  });
});
%>
