<h3 class='ui header disabled scheduled step'><%@ __this.data %></h3>

<%
__this.Defer(function()
{
  __this.first().on('step.spawn', function()
  {
    __this.first().removeClass('disabled');
  });
});
%>
