<div class='ui disabled header'><%@ __this[0] %></div>

<%
__this.Defer(function()
{
  __this.first().on('command.awake', function()
  {
    __this.first().append(phoxy.DeferRender(__this[0], __this[1]));
  });
});
%>
